<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yasiuk.studying.a100ballovapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.yasiuk.studying.a100ballovapplication.permission.C2D_MESSAGE" />

    <permission
        android:name="com.yasiuk.studying.a100ballovapplication.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name="com.yasiuk.studying.a100ballovapplication.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.yasiuk.studying.a100ballovapplication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yasiuk.studying.a100ballovapplication.NavDrawActivity"
            android:label="@string/title_activity_nav_draw"
            android:noHistory="true"
            android:parentActivityName="com.yasiuk.studying.a100ballovapplication.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yasiuk.studying.a100ballovapplication.MainActivity" />
        </activity>
        <activity
            android:name="com.yasiuk.studying.a100ballovapplication.BasicNotLoggedActivity"
            android:label="@string/contacts"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yasiuk.studying.a100ballovapplication.login.LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yasiuk.studying.a100ballovapplication.registration.RegistrationActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8848c683a58732de38dc2ceb508f3f84da15f2b3" />

        <receiver
            android:name="com.yasiuk.studying.a100ballovapplication.news.PushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.studying.presentation.NavDrawActivity" />
            </intent-filter>
        </receiver>

        <service android:name="com.yasiuk.studying.a100ballovapplication.news.PushService" />
    </application>

</manifest>